body, header, footer, nav, section, h1, h2, h3, ul, li, a, span, div, form, textarea, input, button {
	box-sizing: border-box;
}

body, h1, h2, h3, ul {
	margin: 0;
}
ul {
	padding: 0;
}


html {
	font-size: 18px;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}

@media only screen and (max-width: 360px){
html {
	font-size:12px;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
}
}

@media only screen and (max-width: 640px) and (min-width: 360px) {
html {
	font-size:14px;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
}

@media only screen and (max-width: 720px) and (min-width: 640px) {
html {
	font-size:16px;

}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
}

body {
	font-family: "Helvetica","Hiragino Sans GB","Microsoft Yahei",sans-serif;
	line-height: 1.5;
	color: #666;
}

h1, h2 {
	font-weight: normal;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}
a:link, a:focus, a:hover, a:active, a:visited {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
	resize: none;
}


.tr, .trLayout {
	display: table;
	width: 100%;

}
.trLayout {
	table-layout: fixed;
}

.td, .td100 {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}
.td100 {
	width: 100%;
}
.tdSpace {
	padding: .5rem;
}

.input, .input100 {
	padding: .2rem .4rem;
	border: 1px solid #e0e0e0;
	border-radius: .3rem;
	outline: none;
}
.input100 {
	width: 100%;
}

.marginL {
	margin-left: .5rem;
}
.padding {
	padding: .5rem;
}

.formCol {
	margin-bottom: 1rem;
}
.formCol:last-child {
	margin: 0;
}