<% include ../include/header.ejs %>
<div class="reg wrap">
  <form action="/users/reg" method="post" name="form" class="form">
    <div class="boxWrap padding">
      <label class="formCol">
        <input type="text" name="email" id="email" placeholder="请输入邮箱" class="input100">
      </label>
      <label class="formCol">
        <input type="password" name="password" id="password" placeholder="请输入密码" class="input100">
      </label>
      <div class="formCol formMsg smallFont">
        1.<span id="emailMsg">请输入邮箱！</span>
        2.<span id="passwordMsg">请输入密码！</span>
      </div>
    </div>
    <input type="submit" value="注册" class="btnSubmit input100">
  </form>
</div>
<% include ../include/footer.ejs %>